{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Add Song
{% endblock title %}
{% block content %}

<div class="card bg-white container  mt-5 pt-2">
    <form method="POST" enctype="multipart/form-data" autocomplete="off">
        <fieldset class="form-group">
            <legend class="border_bottom md-4">Add Song</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit"> add</button>
        </div>
        {% csrf_token %}
    </form>
</div>
<script>
    var user_song_add = document.getElementById("user_song_add");
    user_song_add.classList.add("active");
</script>
{% endblock content %}