{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Reset your password{% endblock %}
{% block content %}
<div class=" card container bt-4 pd-4">
    <h1>Reset your password</h1>
    {% if validlink %}
    <p>Please enter your new password twice:</p>
    <form action="." method="post">
        {{ form|crispy}}
        {% csrf_token %}
        <p><input type="submit" class="btn btn-primary" value="Change my password" /></p>
    </form>
    {% else %}
    <p>The password reset link was invalid, possibly because it has
        already been used. Please request a new password reset.</p>
    {% endif %}
</div>
{% endblock %}